body,main{
    display: flex;
}

.logo{
    color:blueviolet
}

body{
    flex-direction: column;
}

main{
    flex-direction: row;
    flex:auto;
}

article{
    flex:2;
    overflow-y: auto;
    color:navy;
}

aside{
    background-color: rgb(234, 234, 198);
    flex:1;
    overflow-y: auto;
}